<ion-content [fullscreen]="true">
    <app-home></app-home> 
    <section class="about-us">
      <div class="about">
        <img src="assets/img/about.png" class="pic">
        <div class="text">
          <div class="h2">
          <h2>About Us</h2></div>
          <div class="text"></div>
          <h5>Welcome to <span>Dorex</span></h5>
            <p style="color: black;">The expert team of messengers, couriers and delivery drivers at Reliable Couriers can deliver any package of any size
              throughout the nation. People placing an order with our team in can rest assured that their deliveries are not only made on time but arrive safely.
              </p>
              
          </div>
        </div>
      
    </section>

    
    <!-- <h1 style="padding-top//: 100px;">Jiij</h1> -->
  </ion-content>