
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}
.about-us{
  height: 100vh;
  width: 100%;
  padding: 90px 0;
  background: white;
}
.pic{
  height: auto;
  width:  430px;
  border: black;
}
.about{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 540px;
}
.text h2{
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;

}
.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
span{
  color: red;
}
.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
.h2{
    color: #036b6b;
    

}
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: white;
}

/* Color of the navbar BEFORE scroll */
.navbar-scroll {
  background-color: #036b6b;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color:white;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: auto;
  padding-bottom: auto;
}
.navbar-brand {
  font-size: unset;
  height: 3.5rem;
}
.h1{
  font-size: xx-large;
}
.text{
  color:black ;
  text-align: left;
  font-size: 30px;
  margin-left: 40px;
}
.image
{
    height: 100vh;
    width:100%;
    background-image: url('/assets/img/1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 35px;
}
