
<ion-content [fullscreen]="true">
  <app-home></app-home>
  <div class="wrapper" >
          <div class="form-box">
                <h2 style="padding-top:1px">Forgot Password</h2>
              <form [formGroup]="forgotpasswordValidation" action="#">
                <div class="input-box" style="margin-top: 60px;">
                    <span class="icon">
                      <ion-icon name="call-outline"></ion-icon>
                    </span>
                    <input  [(ngModel)]="forgotpasswordOfUserObj.sMobileNo" formControlName="sMobileNo" type="text" required>
                      <label>Entered Registered Email-Id</label>
                </div>  
               
                <button type="submit" class="btn" [disabled]="!forgotpasswordValidation.valid" (click)="forgotPassword()"><b>Change Password</b></button>
               </form>
            </div>
          </div>
        
</ion-content>
