
<ion-content [fullscreen]="true">
  <app-home></app-home>
  <div class="wrapper" >
    <div class="form-box">
          <h2 style="padding-top:1px">Forgot Password</h2>
        <form [formGroup]="updatepasswordValidation" action="#">
          <div class="input-box" style="margin-top: 60px;">
            <span class="icon">
              <ion-icon name="call-outline"></ion-icon>
            </span>
            <input  [(ngModel)]="updatepasswordOfUserObj.sMobileNo" formControlName="sMobileNo" type="text" required>
              <label>Entered Registered Mobile-No</label>
            </div>
        
          <div class="input-box" style="margin-top: 60px;">
                  <span class="icon">
                  <ion-icon name="lock-closed"></ion-icon>
                  </span>
                  <input [(ngModel)]="updatepasswordOfUserObj.sPassword"  formControlName="sPassword" type="password" required>
                  <label>Enter New Password</label>
          </div>
          <div class="input-box" style="margin-top: 60px;">
                  <span class="icon">
                  <ion-icon name="lock-closed"></ion-icon>
                  </span>
                  <input [(ngModel)]="updatepasswordOfUserObj.sConfirmPassword"  formControlName="sConfirmPassword" type="password" required>
                  <label>Renter Password</label>
          </div>
          
          <button type="submit" class="btn" [disabled]="!updatepasswordValidation.valid" (click)="updatepassword()"><b>Change Password</b></button>
         </form>
      </div>
    </div>
  

</ion-content>
