
.text{
  color:black ;
  text-align: left;
  font-size: 30px;
  margin-left: 60px;
}


.btn2{
  margin-top: 20px;
  margin-left: 79px;
  height: 47px;
  width: 222px;
  background-color:#036b6b;
  text-align: center;
  padding: 12px 30px;
  border-radius: 10px;
  text-decoration: none;
  color:white;
  font-size:x-large;
}
.btn2:hover {
  opacity: 0.9;
  color: #fff;
}
.image
{
  height: 100vh;
  width:110%;
  float:right;
  margin-top: 10px;
}