<ion-content>
  <app-home></app-home>

  <div class="row">
    <div class="col-6">
      <div class="text">
        <h4 style="margin-top:150px;margin-left: 20px;">
          Welcome To,</h4>
          <p style="font-size: 150px;margin-left:50px;margin-top: -34px;
          font-style: italic">Dorex<br>
        </p>
        <p style="margin-top: -35px;margin-left: 20px;"> A fusion of 
          <span style="font-size:40px;">
           "Doorstep" and "Express"<br>
          </span>
          Dorex delivers at your doorstep with lighting speed.
        </p>
        <button type="button" class="btn2" style="margin-left:40px;" (click)="login()">Getting Started</button>
      </div>
    </div>
    <div class="col-6">
      <div class="image">
        <img src="assets/img/r.jpg">
      </div>
    </div>
  </div>
 
</ion-content>
