

<ion-content [fullscreen]="true">
    
  <app-home></app-home>
  <!-- <section class="backgroundcolor">
    <div class="container1">
      <h2><b>Our Services</b></h2>
      <section class="service">
          <div class="card">
              <div class="content">
                  <div class="title"><b>Trucking</b></div>
                  <p  style="margin-top: 20px;">A trucking business could mean a single truck with one owner or many company owned trucks operated many drivers.</p>
              </div>
          </div>
          <div class="card">
              <div class="content">
                  <div class="title"><b>Logistics</b></div>
                  <p style="margin-top: 20px;">The careful organization of a complicated military, business, or other activity so that it happens in a successful and effective way.</p>
              </div>
          </div>
          <div class="card">
              <div class="content">
                  <div class="title" ><b>Shipping</b></div>
                  <p style="margin-top: 20px;">The act of sending goods from one place to another or the process or business of sending or transporting goods.</p>
              </div>
          </div>
          <div class="card">
              <div class="content">
                  <div class="title"><b>Tracking</b></div>
                  <p style="margin-top: 20px;">To trace which milestones a shipment has passed from the starting point to the destination and where a freight shipment or another delivery is currently located.
                  </p>
              </div>
          </div>
          <div class="card">
              <div class="content">
                  <div class="title"><b>Delivery</b></div>
                  <p style="margin-top: 20px;">The act of taking goods, letters, parcels, etc. to people's houses or places of work or the fact of producing something that has been promised.</p>
              </div>
          </div>
          <div class="card">
              <div class="content">
                  <div class="title"><b>Support</b></div>
                  <p style="margin-top: 20px;">To agree with and give encouragement to someone or something because you want him, her, or it to succeed to help someone emotionally or in a practical way.</p>
              </div>
          </div>
      </section>
  </div>
  </section> -->
  <div class="container">
    <h2><b>Our Services</b></h2>
    <section class="services">
        <div class="card">
            <div class="content">
                <div class="title"><b>Trucking</b></div>
                <p>A trucking business could mean a single truck with one owner or many company owned trucks operated many drivers.</p>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="title"><b>Logistics</b></div>
                <p>The careful organization of a complicated military, business, or other activity so that it happens in a successful and effective way.</p>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="title"><b>Shipping</b></div>
                <p>The act of sending goods from one place to another or the process or business of sending or transporting goods.</p>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="title"><b>Tracking</b></div>
                <p>To trace which milestones a shipment has passed from the starting point to the destination and where a freight shipment or another delivery is currently located.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="title"><b>Delivery</b></div>
                <p>The act of taking goods, letters, parcels, etc. to people's houses or places of work or the fact of producing something that has been promised.</p>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="title"><b>Support</b></div>
                <p>To agree with and give encouragement to someone or something because you want him, her, or it to succeed to help someone emotionally or in a practical way.</p>
            </div>
        </div>
    </section>
</div>
  </ion-content>
  